@import "../../assets/scss/var.scss";
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px 0 30px 0;
    .item{
        transition: all .5s ease;
        padding: 7px 12px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid #efefef;
        margin-left: -1px;
        color: $blue-color;
        user-select: none;
        &.current{
            color: $white-color;
            background-color: $blue-color;
            border-color: $blue-color;
        }
        &.disable{
            background-color: #fafbfc;
            color: #d1d5da;
            cursor: default;
        }
    }
}
